body{
    background-image: url(Imagem-Jokenpo.png);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

input{
    outline: none;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 30px;
}

button{
    outline: none;
}

.conteiner-cadastro{
    background-color: rgb(0, 225, 255);
    width: 800px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
}

.nome-jogo{
    color: rgb(4, 161, 4);
    font-size: 80px;
    margin: 0;
    margin-bottom: 40px;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

.label{
    font-size: 20px;
    font-weight: 500;
}

.botao{
    display: flex;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: white;
    background-color: rgb(34, 209, 34);
    text-decoration: none;
}

.link-jogo{
    text-decoration: none;
    color: white;
}

.box-input{
    display: flex;
    flex-direction: column;
}

.box-form{
    display: flex;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-nome{
    width: 250px;
}

.input-sobrenome{
    width: 250px;
}

.input-senha{
    width: 250px;
}

.input-confirmação-senha{
    width: 250px;
}

.box-esquerda{
    margin-right: 25px;
}

.box-direita{
    margin-left: 25px;
}

.input-usuario{
    width: 550px;
}

.input-email{
    width: 550px;
}

